.git/**
.vscode/**
**/*.map
**/*.ts
**/*.tsbuildinfo
node_modules/**
tests/**
scripts/**
src/commands/**/*.ts
src/core/**/*.ts
src/diagnostics/**/*.ts
src/diagrams/**/*.ts
src/docview/**/*.ts
src/extension.ts
src/diagrams/webview/node_modules/**
src/diagrams/webview/src/**
src/diagrams/webview/**/*.ts
!src/diagrams/webview/dist/**/*.js
